# --- Node.js ---
node_modules/
*/node_modules/
package-lock.json

# --- Sécurité---
.env
.env.local
.env.*.local
*.pem

# --- Builds de production (Vue.js) ---
dist/
*/dist/
build/

# --- Logs et système ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
.DS_Store
Thumbs.db

# --- IDE ---
.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln

# --- Docker ---
db_data/